# Private folder 
# (used for information which is not directly related to the project)
_private/

# Archives
*.zip

# MPLAB X temporary and build files
/software/DFGv2-Firmware.X/build/
/software/DFGv2-Firmware.X/dist/

